 /*div four*/
 .div-fourth{
    background-color:#93EFA3;
    height: 109vh;
    font-family: 'Aref Ruqaa', serif;

}
.div-fourth .tittle hr{
    height: 0.2vw;
    text-align: center;
    width: 20vw;


}

.article-shape{
    padding-top: 3vh;
    display: grid;
    grid-template-columns: auto auto auto;
    
        
}
.article-shape .first-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 20vw;
    height: 40vh;
    display:inline-grid;
    margin-left: 6vw;

}
.article-shape h1{
    text-align: center;
    
}
.div-fourth  .tittle{
    width:25vw;
    margin-left: 38%;
    padding-top: 10vh;

}
.div-fourth button{
    position: absolute;
    width:20vw;
    height: 9vh;
    border-radius: 30px;
    font-weight: 1000;
    font-size: 1.4vw;
    margin-top: 5vw;
    margin-left: 40vw;
    background: #448FEE;
    border-right: #448FEE;
    border-left: #448FEE;
    border-top: #448FEE;
    border-bottom: #448FEE;
  
}

