.secondary-header{
    width: 100%;
    height: 15vh;
    left: 0px;
    top: 0px;
    font-family: Amiri;
    background-color:rgb(151, 187, 241);
    font-weight: 100%;


}
.secondary-header .left .icon{
    padding-top: 2vw;
    padding-left: 2vw;
    font-size: 1vw;

}
.secondary-header .left h1{
    margin-left: 7vw;
    margin-top: -4vw;
    font-size: 2.5vw;
    color:white;

}
.secondary-header .right{
    text-align:right;
    margin-top: -7vw;
}
.right h1{
    color: #93EFA3;
    margin-left: 5%;
    margin-top: 2.3%;
    letter-spacing: 0.1em;

}
.right span{
    color: #448EFF;
}