.div-sixth{
    background-color: white;
    height: 40vh;
    font-family: 'Aref Ruqaa', serif;
    text-align: center;
    font-size: 2em;
    padding-top: 1%;

    
}
.div-sixth h1{
    padding-top: 3%;
}
mark{
    background-color:#448FEE;
}
.div-sixth button{
    position: absolute;
    width:20vw;
    height: 9vh;
    border-radius: 30px;
    font-weight: 1000;
    font-size: 1.4vw;
    background: #448FEE;
    border-bottom: #448FEE;
    border-right: #448FEE;
    font-size: 2vw;
    margin-left: -10vw;

}
