.div-sixth{
    background: black url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    text-align: center;
    font-size: 2.1vw;
    height: 100vh;
    padding-top:22px;
    width: 100%;  

}
.div-sixth h1{
    padding-top: 15vh;
}
mark{
    background-color:#448FEE;
}
.div-sixth button{
    width:233px;
    height: 47px;
    border-radius: 25px;
    border: #93EFA3;
    background-color: #93EFA3;
    margin-top: 18vh;
    font-weight: 1000;
    font-size: 1.4vw;
}
/* media query */
@media only screen and (max-width: 1000px) and (min-width: 700px) {
 
    
   
}
@media (max-width: 500px) and (min-width: 320px) {
    .div-sixth{
        background-color: white; 
        height: 45vh;  
        position: relative;   
    }
    .div-sixth p{
        font-size: 10px;
    }
    
    .div-sixth button{
        width: 20vw;
        height: 4vh;
        border-radius: 5px;
        position: absolute;
        top:20vh;
        left: 40vw;
    
    }
    .div-sixth h1{
        padding-top: 20vw;
    }
  

 
  }
