 /**/
 .calander-container{
    height: 45vw;
}
  .calander-container {
    background: black url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    width: 100%;
    margin: 0;
    padding-top: 10px;
}
  
  
.tittle{
    word-spacing: 1vw;
    font-family: Amiri;


}
.Calendar{
    margin-left: 30vh;
    margin-top: 15vh;


}
.last-h1{
    margin-top:20vw;
    font-family: Amiri;
    margin-left:30vw;


}
.first-h1{
    margin-top:5vw;
    margin-left:60vw;

}
.second-h1{
    margin-left:30vw;

}