.all{
    width: 100%;
    bottom: 0px;

}
.footer-container {
    display: grid;
    grid-template-areas: 'left middle right';
    background-color:#448FEE;
    color: white;
  } 
  .Subscribe,
  .contact-us,
  .position {
    height: 50vh;
  }
  .Subscribe {
    grid-area: left;
    text-align: center;

  }

  .Subscribe button{
    font-weight: 1000;
    background-color:#ffff;
    border-bottom: #ffffff;
    border-right: #ffffff;
    border-top: #ffffff;
    border-left: #ffffff;
    font-weight: 1000;
    height: 5.8vh;
    width: 6vw;
    margin-top: 1vh;
    color: #448FEE;
    
    
}

address{
  margin-top: 1vh;

}

.Subscribe input{
    width: 15vw;
    height: 5vh;
}

  .contact-us {
    grid-area: middle;
    text-align: center;
    display: block;

  }
  .position {
    grid-area: right;
    text-align: center;


  }
   hr{
    border-top: 1vh solid white;
    width: 15vw;

}
.position .address , .Subscribe h3, .Subscribe h4, .contact-us h3, .contact-us h4{
    font-weight: 100;
}
button:hover{
    background-color: #93EFA3;
}

.soical-media ul{
    text-align: center;
    margin-right: 10%;

}
.soical-media ul li{
    display: inline;
    margin-left: 7%;
}
.soical-media ul li a{
    color: #448FEE;
    margin-left: 1%;
}
.social-network a.icotwitter{
  color: rgb(129, 182, 250);
}
.social-network a.icoinstagram{
  color:rgb(197, 82, 101);
}
.social-network a.icofacebook{
  color:blue;
}

/* media query */
@media only screen and (max-width: 1000px) and (min-width: 700px) {
 
    
   
}
@media (max-width: 600px) and (min-width: 399px) {
  .all{
  font-size: 2vw;

}

.Subscribe input{
    width: 15vw;
    height: 5vh;
    font-size: 1.2vw;
}

  
.position .address , .Subscribe h3, .Subscribe h4, .contact-us h3, .contact-us h4{
    font-weight: 100;
    font-size: 2vw;

}
button:hover{
    background-color: #93EFA3;
}
}


@media (max-width: 699px) and (min-width: 400px) {
  .all{
    font-size: 2.2vw;
  
  }
  
  .Subscribe input{
      width: 15vw;
      height: 5vh;
      font-size: 1.2vw;
  }
  
  .footer-container {
    height: 40vw;

  }
 
}
@media (max-width: 990px) and (min-width: 601px) {
  .all{
    font-size: 1.5vw;
  
  }

}
@media only screen and (max-width:400px) {
  .all{
    font-size: 1.5vw;
  
  }
  .Subscribe input{
    width: 15vw;
    height: 2vh;
    font-size: 1.2vw;
}
.Subscribe button{
  width: 9vw;
  font-size: 1.2vw;
}
}