.main-all{
    height:500vw;
}
 .div-second{
    background-color:aliceblue;
    height: 45vw;
    padding-top: 1%;
    font-family: Amiri;   
    
    
}
.div-second p{
    width: 60%;
    height: 10%;
    font-size: 1.5em;
    text-align: center;
    margin-left: 20%;
    padding-top: 2%;
    opacity: 0;
}
.icons ul{
    padding-right: 40px;
    list-style: none;
    font-size: 1.2em;
    font-weight: 1000;
    margin-top: -20px;
}
.icons ul li{
    float: right;
    padding: 9%; 
       
}
.icons ul li a{
    text-decoration: none; 
    color:#448FEE;
}

 li:hover{
    transform: scale(1.2);  
}
a:hover{
    color:#93EFA3;
}
li:active{
    color: #93EFA3;
}
/* */
.first-icon p{
    color:black;
    text-align: left;
}