.all-page{
    height:110vw;

}
.div-second{
    margin-top: -5vh; 
    font-family: 'Aref Ruqaa', serif; 
    background: linear-gradient(-45deg, #0000 0%, #448EFF 13%, #0000 25%, white 38%, rgb(145, 180, 233) 50%, rgb(173, 230, 182) 62%, white 75%, #0000 87%, #448EFF 100%);;
    background-size: 400% 400%;
    animation: animate 7.5s ease-in-out infinite;
  }
  
  @keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }
.div-second p{
    width: 60%;
    height: 10%;
    font-size: 2vw;
    text-align: center;
    margin-left: 20%;
    padding-top: 5%;

}
.icons{
    display: grid;
    text-align: right;
    margin-left: 70vw;
}
.icons .first-icon ,.icons .second-icon , .icons .third-icon , .icons .fourth-icon{
    font-size: 0.7vw;
    width:20vw;
    margin-top: 5vw;

    
}
a{
    color:#448FEE;

}
.icons  li{
    direction: rtl;
}
.first-icon h1, .second-icon h1, .third-icon h1, .fourth-icon h1{
    opacity: 0;
}

.hover1:hover > h1{
    opacity: 1;
    color: black;
}
.hover2:hover > h1{
    opacity: 1;
    color: black;
}
.hover3:hover > h1{
    opacity: 1;
    color: black;
}
.hover4:hover > h1{
    opacity: 1;
    color: black;
}
