.container{
    position: fixed;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: rgb(26, 24, 24);
    font-family: Amiri;
    z-index: 99;


}
.container ul{
    padding-right: 4vw;
    list-style: none;
    font-size: 1.5vw;
    font-weight: 1000;
    margin-top: -20px;
}
.container ul li{
    float: right;
    padding: 2vw;    
}
.container ul li a{
    color:white;
    text-decoration: none;  
}

.container ul li a:hover{
    color: #448EFF;
    cursor: pointer;
    
}


.header-logo{
    font-size: 2vw;
    margin-top: -5vh;
}

.list button{
    width: 130px;
    height: 37px;
    font-family: 'Aref Ruqaa', serif;
    background: #93EFA3;
    border-style: none;
    border-radius: 40px;
    font-weight: 1000;
    font-size: 15px;
    word-spacing: 5px;

}
.list{
    opacity: 0;
}

.container .header-logo h1{
    color: #93EFA3;
    margin-left: 6vh;
    margin-top: 10vh;
    letter-spacing: 0.2em;
    font-size: 2vw;
}
.container .header-logo span{
    color: #448EFF;
}
/* media query */

@media (max-width: 699px) and (min-width: 400px) {
    .container{
        height: 8vw;
       }
     .container ul{
        margin-top: -1vw;    


     }
       .container ul li{
           padding: 1.5vw;    
       }    
       .header-logo{
           font-size: 2vw;
           margin-top: -7vh;
       }
       
       .list button{
           width: 12vw;
           height: 3vw;
           font-size: 1vw;
         
       
       }
       .list{
           opacity: 0;
       }
       
       .container .header-logo h1{
           color: #93EFA3;
           margin-left: 6vh;
           margin-top: 10vh;
           letter-spacing: 0.2em;
           font-size: 2vw;
       }
       .container .header-logo span{
           color: #448EFF;
       }
   
}
@media (max-width: 990px) and (min-width: 700px) {

    .container{
     height: 8vw;
    }
  
    .container ul li{
        padding: 2vw;    
    }    
    .header-logo{
        font-size: 2vw;
        margin-top: -5vh;
    }
    
    .list button{
        width: 12vw;
        height: 6vh;
      
    
    }
    .list{
        opacity: 0;
    }
    
    .container .header-logo h1{
        color: #93EFA3;
        margin-left: 6vh;
        margin-top: 10vh;
        letter-spacing: 0.2em;
        font-size: 2vw;
    }
    .container .header-logo span{
        color: #448EFF;
    }

}