.container{
    position: fixed;
    width: 100%;
    background: rgb(26, 24, 24);
    z-index: 99;
}
.header-logo{
    display: inline;
    justify-items: center;
    color: lightgoldenrodyellow;
    float: right;
    margin-right:2vw;
}

.container ul{
    display: inline;
}
.container ul li{
    padding-left: 5vw;    
    display: inline;
    font-size: 1.5vw;

}
.container ul li a{
    justify-items: center;
    color:white;

}

.container ul li a:hover{
    color: #448EFF;
    cursor: pointer;   
}

.container ul .underline-link{
    color: black !important;
    border-radius: 25px;
    border: #93EFA3;
    background-color: #93EFA3;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 1.4vw;
}
.container ul .underline-link a{
    color: black ;   
}

.list{
    /* opacity: 0; */
    color: lightgoldenrodyellow;
    float: left;
    margin-top: 29px;
    width:60vw;

}
.container .header-logo{
    color: #93EFA3;
}

.container .header-logo span{
    color: #448EFF;
}
/* media query */

@media (max-width: 500px) and (min-width: 320px) {    
       .header-logo{
           font-size: 2vw;
           margin-top: -4vh;
       }
       
       .container .header-logo h1{
           color: #93EFA3;
           margin-left: 6vh;
           margin-top: 10vh;
           letter-spacing: 0.2em;
           font-size: 2vw;
       }
       .container .header-logo span{
           color: #448EFF;
       }
       .container ul li{
        padding-left: 3vw;    
        display: inline;
        font-size: 1vw;
    
    }
   
   
}
@media (max-width: 990px) and (min-width: 700px) {

    .container{
     height: 8vw;
    }
  
    .container ul li{
        padding: 2vw;    
    }    
    .header-logo{
        font-size: 2vw;
        margin-top: -5vh;
    }
    .list{
        opacity: 0;
    }
    
    .container .header-logo h1{
        color: #93EFA3;
        margin-left: 6vh;
        margin-top: 10vh;
        letter-spacing: 0.2em;
        font-size: 2vw;
    }
    .container .header-logo span{
        color: #448EFF;
    }

}