.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  font-family: 'Aref Ruqaa', serif;

  
}  
.popup .inner {  
  position: absolute;  
  left: 33%;    
  right: 35%;  
  bottom: 45%;  
  border-radius: 60px;  
  background: white;  
  font-size: 2px;
 



}
.inner .content{
  color:black;
  width:400px;
  font-weight: 1000;

}
.inner h1{
  margin-top: 5vh;
  text-align: center;
  font-size: 2vw;

}
.inner p{
  text-align: left;
  margin-left: 4vh;
  font-size: 1vw;


}

.inner button{
border-radius: 60px; 
width: 7vw;
height: 4vh;
background: #448FEE;
border-right: #448FEE;
border-left: #448FEE;
border-top: #448FEE;
border-bottom: #448FEE;
}