.div-third{
    background-color: #448FEE;
    height: 45vw;
    margin-top: -2%;
    

}
.div-third .tittle{
    height: 4vw;
    width:25vw;
    margin-left: 38%;
    font-family: 'Aref Ruqaa', serif;
    margin-top:-10%;

}
.div-third .tittle hr{
    width:2vw;
    height: 0.2vw;
    text-align: center;
    width: 20vw;



}
.tittle h1{
    text-align: center;
    margin-top:-10%;


}

.activites-shape{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top:5%;
}
.activites-shape .first , .second, .third{
    background-color: gray;
    height: 40vh;
    width:20vw;
    margin-left: 6.3vw;
    text-align: center;
}
.activites-shape h1{
    text-align: center;
}
.div-third button{
    margin-left: 42%;
    position: absolute;
    width: 235px;
    height: 59px;
    background-color:#93EFA3;
    border-right: #448FEE;
    border-left: #448FEE;
    border-top: #448FEE;
    border-bottom: #448FEE;
    border-radius: 50px;

}
#arrow-left{
    margin-top:-54vh;
    margin-left:3vw;

}
#arrow-right{
    margin-top:25vh;
    margin-left:95vw;

}