.div-third{
    background: black url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    height: 100vh;

    

}
.div-third .tittle{
    width:25vw;
    margin-left: 38%;
    padding-top: 8vh;

}
.div-third .tittle hr{
    height: 0.2vw;
    text-align: center;
    width: 20vw;



}
.tittle h1{
    text-align: center;


}

.activites-shape{
    display: grid;
    grid-template-columns: auto auto auto;
}
.activites-shape .first{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    height: 40vh;
    width:20vw;
    margin-left: 6.3vw;
    text-align: center;
}
.activites-shape h1{
    text-align: center;
}
.div-third button{
    background-color:#93EFA3;
    position: absolute;
    width:20vw;
    height: 9vh;
    border-radius: 30px;
    font-weight: 1000;
    font-size: 1.4vw;
    margin-top: 5vw;
    margin-left: 40vw;
    background: #93EFA3;
    border-right: #93EFA3;
    border-left: #93EFA3;
    border-top: #93EFA3;
    border-bottom: #93EFA3;
  

}
/* media query */
@media (max-width: 990px) and (min-width: 601px) {

    .div-third{
     font-size: 1vw;   
    
    } 
    .activites-shape{
        padding-top: 8vh;


    }   
    .activites-shape .first{
        height: 30vh;
        width:20vw;
    }
    .div-third button{
        width: 30vw;
        height: 6vw;
        margin-top: 8vw;
        margin-left: 35vw;
    
    }
   

}

@media (max-width: 600px) and (min-width: 399px) {

.div-third{
    height: 53vw;
    font-size: 1vw;
}
.div-third .tittle{
    font-size: 1vw;

}
.div-third .tittle hr{
    height: 0.1vw;
    text-align: center;
    width: 20vw;



}
.tittle h1{
    text-align: center;


}

.activites-shape{
padding-top: 5vw;
}
.activites-shape .first{
    height: 20vh;
    width:20vw;
}
.activites-shape h1{
    text-align: center;
}
.div-third button{
    width: 25vw;
    height: 9vh;
    margin-top: 5vh;
    margin-left: 36vw;
    font-size: 2vw;

}
}
@media only screen and (max-width:400px) {

    .div-third .tittle{
        padding-top: 8vh;
    
    }
  
    .tittle h1{
        text-align: center;
    
    
    }
    
    .activites-shape{
      
        padding-top: 2vh;
    }
   
    .div-third button{
        width: 19vw;
        height: 5vw;
        margin-top: 2vw;
        margin-left: 40vw;
        font-size: 2vw;
    
    }

}

