.div-third{
    background-color: white;
    height: 45vw;
    margin-top: -2%;

}
.div-third .tittle{
    height: 4vw;
    width:25vw;
    margin-left: 38%;
    font-family: 'Aref Ruqaa', serif;
}
.div-third .tittle hr{
    width:2vw;
    height: 0.2vw;
    text-align: center;
    background-color:black;
    width: 20vw;


}
.tittle h1{
    text-align: center;
    padding-top: 20px;

}

.activites-shape{
    display: grid;
    grid-template-columns: auto auto auto;
}
.activites-shape .first , .second, .third{
    background-color: gray;
    height: 20vw;
    width:20vw;
    margin-left: 20%;
    margin-top:20%;
    text-align: center;
}
.activites-shape h1{
    text-align: center;
}
.div-third button{
    margin-left: 42%;
    position: absolute;
    width: 235px;
    height: 59px;
    background: #448FEE;
    border-right: #448FEE;
    border-left: #448FEE;
    border-top: #448FEE;
    border-bottom: #448FEE;
    border-radius: 50px;

}
