.div-one{
    background-color: white;
    height: 150vh;

}
.div-one .paragraph {
    position: absolute;
    padding-top:14%;
    margin-left: 7%;
    width:48vw;
    height: 250vw; 
    font-family: 'Aref Ruqaa', serif;

}   
.div-one .paragraph p{
    text-align: center;
    font-size: 3vw;
    opacity: 0;
    text-align: right;
        
    }
.div-one .paragraph button{
    width:20vw;
    height: 9vh;
    box-shadow: 0px 8px 8px #93EFA3;
    border-radius: 30px;
    background-color: #93EFA3;
    border-right: #93EFA3;
    border-left: #93EFA3;
    border-bottom: #93EFA3;
    margin-left: 40%;
    margin-top: -60%;
    font-weight: 1000;
    font-size: 1.4vw;
    }

.div-one-logo img{
    width: 30vw;
    height: 60vh;
    opacity: 0;
    margin-top:29vh;
    margin-left: 60vw;
    position: absolute;    
}
@media only screen and (min-width: 320px) and (max-width:589px) {
    .div-one-logo img{
    width: 20px;
    height: 20px;
    }
    .div-one button:hover {
        transform: scale(0.4);
    }
   
  }