.all-home{
    height:241vw;
    background-color: white;
    
    }
    button{
        cursor: pointer;
        font-family: 'Aref Ruqaa', serif;

    }
   
    
   
    ::selection {
        color: #448FEE;
        background: #93EFA3;
      }
