.all-home{
    height:570vh;
    background-color: white;
    
    }
    .all-home button{
        cursor: pointer;

    }
    ::selection {
        color: #448FEE;
        background: #93EFA3;
      }
      @media (max-width: 600px) and (min-width: 399px) {
        .all-home{
            height: 300vw;
            background-color: white;
            
            }

      }